vrrp_instance VI_1 {
  state MASTER
  interface ens18
  virtual_router_id 55
  priority 150
  advert_int 1
  unicast_src_ip 192.168.5.15
  unicast_peer {
    192.168.5.104
    192.168.5.54
  }

  authentication {
    auth_type PASS
    auth_pass {{ keepalived_password }}
  }

  virtual_ipaddress {
    192.168.5.200/22
  }
}
