# vim: set ts=4 sw=4 tw=4 noet :
{
	debug
	email brennon.loveless@gmail.com
}

localhost {
	tls internal
	respond "Localhost"
}

:8090 {
	metrics /metrics
}

*.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	@www.brennonloveless.com host www.brennonloveless.com
	redir @www.brennonloveless.com https://brennonloveless.com{url}

	@overseerr.brennonloveless.com host overseerr.brennonloveless.com
	reverse_proxy @overseerr.brennonloveless.com http://192.168.5.13:5055
}

brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.103
}

brennonloveless.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.103
}

dashboard.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.54:3000
}

portainer.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy https://192.168.5.15:9443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

proxmox.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy https://192.168.5.10:8006 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

nas.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy https://192.168.4.245:5001 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

overseerr.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.13:5055
}

radarr.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.13:7878
}

sonarr.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.13:8989
}

prowlarr.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.13:9696
}

nzbget.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.13:6789
}

qbittorrent.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.13:8080
}

fileflows.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.54:5000
}

grafana.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.105:3000
}

prometheus.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.105:9090
}

notes.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.104:8080
}

authelia.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.15:9091
}

outline.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.5.54:3001
}

minio.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.4.245:9001
}

minio-api.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy http://192.168.4.245:9000
}

speedtest-tracker.lan.brennonloveless.com {
	tls {
		dns cloudflare  {{ cloudflare_dns_api_key }}
	}

	reverse_proxy https://192.168.5.104:8443 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}
